body
{
	margin:0;
	padding: 0;
	background-color: #d6c9c9;
	font-family: 'Ubuntu', sans-serif;
}
nav
{
	width: 100%;
	overflow:auto;
	background-color: black;
}

ul
{
	width: 100%;
	padding: 0;
	list-style: none;
}
li
{
	float: left;
}
li a
{
	padding: 15px 125px;
	width: 100%;
	display: block;
	text-decoration: none;
	color: white;
	text-align: right;
}
li a:hover
{
	color: red;
}
h1
{
	text-align: center;
	color: #911111;
	font-size: 45px;
}
.about{
	text-align: center;
}
.about h3
{
	color: #911111;
	font-size: 35px;
}
.about h6
{
	color: #911111;
	font-size: 25px;

}
.about p
{
	color: black;
}
.buy img
{
	padding-left: 100px;
}
.buy li a
{
	padding-right: 55px;
}